<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="SYSTEM.LOG.LAYOUT" value="[%d] [%thread] [%logger] [%level] %msg%n" />
    <appender name="SYSTEM_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${SYSTEM.LOG.LAYOUT}</pattern>
        </encoder>
    </appender>
    <appender name="SYSTEM_STDOUT_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <neverBlock>true</neverBlock>
        <appender-ref ref="SYSTEM_STDOUT" />
    </appender>

    <appender name="businessLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/business.log</File>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/业务A.%d.%i.log</fileNamePattern>
            <maxHistory>90</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>"%d{yyyy-MM-dd HH:mm:ss.SSS} %t %-5level %X{userId} %logger{30}.%method:%L - %msg%n"</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="ASYNC_ERROR_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>1024</queueSize>
        <appender-ref ref="businessLogAppender"/>
    </appender>

    <logger name="businessLog" additivity="false" level="INFO">
        <appender-ref ref="businessLogAppender"/>
    </logger>

    <root level="INFO">
<!--        <appender-ref ref="SYSTEM_FILE_JSON" />-->
        <!-- system log -->
        <appender-ref ref="SYSTEM_STDOUT_ASYNC" />
        <appender-ref ref="ASYNC_ERROR_FILE"/>
    </root>
</configuration>